<div class="relative mx-auto max-w-[37.5rem] pt-20 text-center pb-24">
    <h1 class="text-4xl font-extrabold tracking-tight text-slate-900 sm:text-5xl">Carrers</h1>
    <p class="mt-4 text-base leading-7 text-slate-600">Last updated on May 3, 2023</p>
</div>

<div class="relative px-4 sm:px-6 lg:px-8 mb-16">
    <div
        class="mx-auto max-w-[40rem] prose-sm prose prose-slate prose-a:font-semibold prose-a:text-sky-500 hover:prose-a:text-sky-600">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eos mollitia obcaecati maxime quasi sequi
            assumenda, non cum explicabo cumque illum cupiditate impedit iusto earum rem atque eveniet! Incidunt sit
            doloribus labore cum fugiat praesentium sint eveniet repudiandae aliquid ducimus, debitis maxime quos
            perferendis nesciunt? Cumque dignissimos incidunt dolorum at atque animi placeat dolor doloribus, magni
            officiis! Ullam, tempore. Dicta architecto veniam aut omnis totam quod provident earum ipsum minima
            recusandae in quos sit, laboriosam, tempora repellendus quo exercitationem nihil neque molestiae ut labore
            voluptatem illum possimus inventore? Tempore explicabo perspiciatis expedita nam ducimus pariatur nemo eum
            repellendus distinctio fugit! Delectus porro eaque deserunt numquam molestiae iste sequi quaerat vitae
            repudiandae earum magnam cumque, cum ut accusantium atque dicta nulla eum qui cupiditate nostrum! </p>
    </div>
</div>