<section id="about_us" name="about_us" class="bg-gradient-to-b from-orange_gb via-red_gb to-red_gb px-4">
    <div class="container mx-auto">
        <h2
            class="mb-4 text-4xl font-bold text-center tracking-tight md:font-extrabold lg:leading-nonetext-white md:text-center lg:mb-3">
            About Us</h2>
        <p class="text-base py-5 px-8 mb-4 md:mb-6 md:text-center md:text-xl lg:px-20 xl:px-56">We are a group of
            professionals dedicated to provide excellence in the hospitality world.
            With more than 10 years of experience we been working private events for every kind of clients trying to
            accommodate to their need and budget.
            Make this Next event special. We will cater to you by providing the best service you are going to find. It
            can be a party of two, it can be a
            wedding, bachelorette party.... We got you. We keep our business on the go! Let us run your event, and make
            it
            memorable.
        </p>
    </div>
    <div>
        <div id="newsletter" class="pb-1">
            <h2
                class="mb-4 text-4xl font-bold text-stone-100 text-center tracking-tight md:font-extrabold lg:leading-nonetext-white md:text-center lg:mb-7">
                Sign up for our newsletter</h2>

            <div
                class="m-6 max-w-xl sm:mx-auto bg-green-300 border-t-4 border-green-600 rounded-b px-4 py-3 shadow-md text-green-900">
                <div class="flex items-center">
                    <div class="py-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-green-900 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                    </div>
                    <div>
                        <p class="font-bold">Mensaje de Exito</p>
                    </div>
                </div>
            </div>

            <div
                class="m-6 max-w-xl sm:mx-auto bg-red-300 border-t-4 border-red-600 rounded-b px-4 py-3 shadow-md text-red-900">
                <div class="flex items-center">
                    <div class="py-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-red-900 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                        </svg>
                    </div>
                    <div>
                        <p class="font-bold">Mensaje de Error</p>
                    </div>
                </div>
            </div>


            <form action="" class="mx-6 max-w-xl sm:mx-auto grid gap-6" method="POST">
                <div class="relative flex">
                    <div class="w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5"
                                viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </div>
                        <input type="name" id="nameSubscribe" name="nameSubscribe"
                            class="block w-full px-3 py-4 pl-11 text-base text-gray-900 bg-white border border-gray-200 rounded-xl focus:border-gray-900 focus:outline-none"
                            placeholder="Enter your name" required>
                    </div>
                </div>

                <div class="flex">
                    <div class="w-full">
                        <label for="emailSubscribe" class="hidden">Email address</label>
                        <div class="relative h-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" class="w-5 h-5">
                                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z">
                                    </path>
                                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                                </svg>
                            </div>
                            <input type="email" id="emailSubscribe" name="emailSubscribe"
                                class="block w-full px-3 py-4 pl-11 text-base text-gray-900 bg-white border border-gray-200 rounded-xl focus:border-gray-900 focus:outline-none"
                                placeholder="Enter your email" required>
                        </div>
                    </div>

                </div>
                <div class="relative flex">

                    <input type="submit" id="member_submit"
                        class="w-full px-4 py-4 bg-red font-semibold text-center border border-stone-200 bg-white cursor-pointer rounded-xl bg-opacity-30 hover:bg-opacity-60 hover:shadow-xl hover:border-black hover:ring-black hover:ring-1 duration-300 formkit-submit focus:outline-none focus:ring-2  focus:ring-sky-600 focus:border-sky-600"
                        value="Subscribe" />
                </div>

            </form>

        </div>
    </div>
</section>