<section class="bg-gradient-to-b from-indigo-50 to-orange_gb p-4">
    <div class="container mx-auto md:flex  md:flex-row justify-between items-center mb-8">

        <div class="m-6 md:w-[50%] flex flex-col md:mx-auto">
            <div>
                <h4 class="text-8xl font-good-mood font-black">Keep your booze on the Go</h4>
                <span class="text-2xl pr-10 pt-10 mt-10">For your Weding, Private events, Bachelor party, ect..</span>
            </div>
            <div class="mt-5">
                <a href=""
                    class="py-1 px-5 font-semibold text-2xl ring-1 ring-black hover:bg-green_gb hover:shadow-lg rounded-md duration-200">Book</a>
            </div>
        </div>

        <div class="m-6 md:w-[50%] flex flex-col md:mx-auto">
            <div class=" columns-2 lg:columns-3 gap-5">
                <img src="../../assets/gallery/1.jpg" class="mt-3 rounded-lg hover:ring-1 hover:ring-black" alt="">
                <img src="../../assets/gallery/7.jpg" class="mt-3 rounded-lg hover:ring-1 hover:ring-black" alt="">
                <img src="../../assets/gallery/4.jpg" class="mt-3 rounded-lg hover:ring-1 hover:ring-black" alt="">
                <img src="../../assets/gallery/9.jpg" class="mt-3 rounded-lg hover:ring-1 hover:ring-black" alt="">
                <img src="../../assets/gallery/6.jpg" class="mt-3 rounded-lg hover:ring-1 hover:ring-black" alt="">
                <img src="../../assets/gallery/8.jpg" class="mt-3 rounded-lg hover:ring-1 hover:ring-black" alt="">
            </div>
        </div>

    </div>
</section>